body
{
    color: rgb(47, 0, 100);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    text-align: left;
    background: rgb(4, 11, 105);
    box-shadow: 0px 2px 0px rgb(0,0,0);
    color: azure;
    font-weight: bold;
    font-size: 2cm;
    margin: 0;
    padding: 0.5cm;

}
#cabecera #tagline
{
    font-weight: normal;
    font-size: 0,8cm;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    
}

